body, html {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, #c7eafd, #f0f0f0);
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

label {
    display: block;
    margin: 10px 0 5px;
}

input, select, button {
    width: 100%;
    padding: 10px;
    margin: 5px 0 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}
.cancel-btn {
    text-decoration: none;
    color: black !important; 
    background-color: #fcfdfd;
    font-size: 16;
    text-align: center;
    padding: 3px 10px;
    border-radius: 3px;
    display: inline-block;
}
.cancel-btn:hover {
    background-color: #f9fbfc;
}
.center {
    text-align: center;
    color: red;
  }

.flash-message-list {
    padding: 0;
    margin: 0 0 20px 0;
    list-style-type: none;
}

.flash-message {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid red;
    background-color: #f8d7da;
    color: #721c24;
    border-radius: 4px;
    text-align: center;
}