<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Assigned Items</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesitemdetails.css') }}">
    <script>
        function confirmUnassign(button) {
            var itemId = button.getAttribute('data-itemid');
            console.log("Hello World")
            var result = window.confirm("Are you sure you want to unassign this item?");
            if (result) {
                console.log(result)
                window.location.href = "/unassign_employee/" + itemId;
            }
        }
    </script>
</head>
<body>
    <header>
        <div>
            <h2>{{name}}</h2>
        </div>
        <nav class="nav-links">
            <a href="{{ url_for('admin_dashboard') }}">Back to Dashboard</a>
        </nav>
    </header>
    <div class="content">
        <h1>Assigned Items</h1>
        <table>
            <thead>
                <tr>
                    <th>Item ID</th>
                    <th>Item Name</th>
                    <th>Serial Number</th>
                    <th>Assigned To</th>
                    <th>Action</th>
                    <th>Unassign Item</th>
                </tr>
            </thead>
            <tbody>
                {% for item in items %}
                <tr>
                    <td>{{item.Itemid}}</td>
                    <td>{{item.Itemname}}</td>
                    <td>{{item.Serialno}}</td>
                    <td>{{item.name}}</td>
                    <td><a class="cancel-btn" href="{{ url_for('view_item', item_id=item.Itemid) }}">View Item</a></td>
                    <td><button class="cancel-btn" onclick="confirmUnassign(this)" data-itemid="{{ item.Itemid }}">Unassign</button></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>