<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Assign Employee</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesaddemp.css') }}">
</head>
<body>
    <div class="container">
        <h1>Assign Employee</h1>
        <form action="{{ url_for('employee_assign',item_id=item_id) }}" method="POST">
            <label for="name">Employee Name</label>
            <select id="name" name="name" required>
                {% for name in items %}
                    <option value="{{ name }}">{{ name }}</option>
                {% endfor %}
            </select>
            <button type="submit">Assign Item</button>
            <a class="cancel-btn" href="{{ url_for('unassigned_items') }}">Cancel</a>
        </form>
    </div>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
        {% for message in messages %}
        <li class="center">{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
{% endwith %}
</body>
</html>
        