<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Password</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesaddemp.css') }}">
</head>
<body>
    <div class="container">
        <h1>Update Password</h1>
        <form action="{{ url_for('update_password_employee') }}" method="POST">
            <label for="old_password">Old Password</label>
            <input type="text" id="old_password" name="old_password" required>

            <label for="new_password">New Password</label>
            <input type="text" id="new_password" name="new_password" minlength="6" required>
            <button type="submit">Update Password</button>
            <a class="cancel-btn" href="{{ url_for('employee_dashboard') }}">Cancel</a>
        </form>
    </div>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
        {% for message in messages %}
        <li class="center">{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
{% endwith %}
</body>
</html>
        